.mainPane{
    -fx-background-color: linear-gradient(to bottom right, #b95fc3, #e6a9ec);
}

.button{
    -fx-cursor: hand;
    -fx-background-color: rgba(176, 65, 191, 0.1);
    -fx-border-color: #b95fc3;
    -fx-text-fill: #b95fc3;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
}

.button:hover{
    -fx-background-color: #b95fc3;
    -fx-text-fill: white;
}

.label_text{
    -fx-text-fill: white;
}

.second_pane{
    -fx-background-color: white;
}