

.welcome_text{
    -fx-text-fill: white;
}

.main_vbox{
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 20, 0, 0, 5);
    -fx-background-radius: 0 0 30 30;
    -fx-padding: 0;
}

.primary_vbox{
    -fx-background-color: linear-gradient(to bottom right, #3B82F6, #A855F7, #EC4899);
    -fx-background-radius: 30 30 30 30;
}

.fields{
    -fx-background-color: #f1f1f1;
    -fx-prompt-text-fill: #636161;
    -fx-background-radius: 12 12 12 12;
}

.login_button {
    /* Основной цвет через MaterialFX */
    -mfx-main: linear-gradient(to bottom right, #3B82F6, #A855F7, #EC4899);

    /* Фон использует -mfx-main */
    -fx-background-color: -mfx-main;

    /* Скругление */
    -fx-background-radius: 12;

    /* Размеры и отступы */
    -fx-pref-width: 200px;
    -fx-pref-height: 45px;
    -fx-cursor: hand;
}

/* Стилизация текста внутри кнопки */
.login_button .text {
    -fx-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

/* Состояние при наведении */
.login_button {
    -fx-background-color: linear-gradient(to right, #3B82F6, #A855F7, #EC4899);
    -fx-background-radius: 12;
    -fx-text-fill: white;
}

.root_stack_pane{
    -fx-background-radius: 30 30 30 30;
}



.button{
    -fx-background-color: transparent;
}

.white-c-text {
    -fx-text-fill: #e4e4f1;
}

.bg-gradient{
    -fx-background-color: linear-gradient(to right, #6366f1, #8b5cf6);
}

.bg-top-bar-gradient{
    -fx-background-color: linear-gradient(to right, #8b5cf6, #ec4899);
}

.white-c{
    -fx-background-color: #ffffff;
}

.gray-c{
    -fx-background-color: #8d8ea1;
}

#users-icon{
    -fx-shape: "M96-192v-92q0-25.78 12.5-47.39T143-366q54-32 114.5-49T384-432q66 0 126.5 17T625-366q22 13 34.5 34.61T672-284v92H96Zm648 0v-92q0-42-19.5-78T672-421q39 8 75.5 21.5T817-366q22 13 34.5 34.67Q864-309.65 864-284v92H744ZM282-522q-42-42-42-102t42-102q42-42 102-42t102 42q42 42 42 102t-42 102q-42 42-102 42t-102-42Zm396 0q-42 42-102 42-8 0-15-.5t-15-2.5q25-29 39.5-64.5T600-624q0-41-14.5-76.5T546-765q8-2 15-2.5t15-.5q60 0 102 42t42 102q0 60-42 102ZM168-264h432v-20q0-6.47-3.03-11.76-3.02-5.3-7.97-8.24-47-27-99-41.5T384-360q-54 0-106 14t-99 42q-4.95 2.83-7.98 7.91-3.02 5.09-3.02 12V-264Zm267-309.21q21-21.21 21-51T434.79-675q-21.21-21-51-21T333-674.79q-21 21.21-21 51T333.21-573q21.21 21 51 21T435-573.21ZM384-264Zm0-360Z";
}

#calendar-icon{
    -fx-shape: "M216-96q-29.7 0-50.85-21.5Q144-139 144-168v-528q0-29 21.15-50.5T216-768h72v-96h72v96h240v-96h72v96h72q29.7 0 50.85 21.5Q816-725 816-696v528q0 29-21.15 50.5T744-96H216Zm0-72h528v-360H216v360Zm0-432h528v-96H216v96Zm0 0v-96 96Zm264.21 216q-15.21 0-25.71-10.29t-10.5-25.5q0-15.21 10.29-25.71t25.5-10.5q15.21 0 25.71 10.29t10.5 25.5q0 15.21-10.29 25.71t-25.5 10.5ZM298.5-394.29q-10.5-10.29-10.5-25.5t10.29-25.71q10.29-10.5 25.5-10.5t25.71 10.29q10.5 10.29 10.5 25.5t-10.29 25.71q-10.29 10.5-25.5 10.5t-25.71-10.29ZM636.21-384q-15.21 0-25.71-10.29t-10.5-25.5q0-15.21 10.29-25.71t25.5-10.5q15.21 0 25.71 10.29t10.5 25.5q0 15.21-10.29 25.71t-25.5 10.5Zm-156 144q-15.21 0-25.71-10.29t-10.5-25.5q0-15.21 10.29-25.71t25.5-10.5q15.21 0 25.71 10.29t10.5 25.5q0 15.21-10.29 25.71t-25.5 10.5ZM298.5-250.29q-10.5-10.29-10.5-25.5t10.29-25.71q10.29-10.5 25.5-10.5t25.71 10.29q10.5 10.29 10.5 25.5t-10.29 25.71q-10.29 10.5-25.5 10.5t-25.71-10.29ZM636.21-240q-15.21 0-25.71-10.29t-10.5-25.5q0-15.21 10.29-25.71t25.5-10.5q15.21 0 25.71 10.29t10.5 25.5q0 15.21-10.29 25.71t-25.5 10.5Z";
}

#shield-icon{
    -fx-shape: "M714.5-305.5Q732-323 732-348t-17.5-42.5Q697-408 672-408t-42.5 17.5Q612-373 612-348t17.5 42.5Q647-288 672-288t42.5-17.5ZM671.91-168Q704-168 731-184t43-42q-23-13-48.72-19.5t-53.5-6.5q-27.78 0-53.28 7T570-226q16 26 42.91 42 26.91 16 59 16ZM480-96q-133-30-222.5-150.5T168-515v-229l312-120 312 120v221q-22-10-39-16t-33-8v-148l-240-92-240 92v180q0 49 12.5 96t36.5 88.5q24 41.5 58.5 76T425-194q8 23 25.5 48.5T489-98l-4.5 1-4.5 1Zm191.77 0Q592-96 536-152.23q-56-56.22-56-136Q480-368 536.23-424q56.22-56 136-56Q752-480 808-423.77q56 56.22 56 136Q864-208 807.77-152q-56.22 56-136 56ZM480-480Z";
}

#menu-icon{
    -fx-shape: "M144-264v-72h672v72H144Zm0-180v-72h672v72H144Zm0-180v-72h672v72H144Z";
}